
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/FileContentIndex/016c5062-9108-41df-8678-91b92a0be4c0.vsidx
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/FileContentIndex/f3f81c0f-ab68-4b1c-af2f-d52dff2d1a30.vsidx
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/.suo
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/DocumentLayout.backup.json
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/DocumentLayout.json
TPWinForm_Equipo5a/ApplicationService/obj/Debug/ApplicationService.csproj.AssemblyReference.cache
TPWinForm_Equipo5a/WinFormAPP/bin/Debug/WinFormAPP.exe
TPWinForm_Equipo5a/WinFormAPP/bin/Debug/WinFormAPP.pdb
TPWinForm_Equipo5a/WinFormAPP/frmArtSearch.cs
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/UserInterface.csproj.AssemblyReference.cache
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/WinFormAPP.exe
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/WinFormAPP.pdb
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/FileContentIndex/016c5062-9108-41df-8678-91b92a0be4c0.vsidx
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/.suo
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/DocumentLayout.backup.json
TPWinForm_Equipo5a/.vs/TPWinForm_5-a/v17/DocumentLayout.json
TPWinForm_Equipo5a/ApplicationService/obj/Debug/ApplicationService.csproj.AssemblyReference.cache
TPWinForm_Equipo5a/WinFormAPP/bin/Debug/WinFormAPP.exe
TPWinForm_Equipo5a/WinFormAPP/bin/Debug/WinFormAPP.pdb
TPWinForm_Equipo5a/WinFormAPP/frmArtSearch.cs
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/UserInterface.csproj.AssemblyReference.cache
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/WinFormAPP.exe
TPWinForm_Equipo5a/WinFormAPP/obj/Debug/WinFormAPP.pdb
*.vsidx
*.json
*.cache
*.exe
*.pdb
